// Config.xcconfig
// Configuration settings for development

HOOYU_API_URL = eu-west.id.miteksystems.com
MISNAP_LICENSE_KEY = eyJzaWduYXR1cmUiOiJWcmdaRFNwYVRrUlhmSHhLL2xJcmhHQ1ZlWmJyeEVGYTZ5M0YvVHExQ2hTMG5WS2JTWHkwc1YwWjcrTTNHTE84R3hzRkVoTzRRRDA4a1kwSlM1czI3UEc3VjVPbjlFK0JjUDJrYnFqMENJN3BRRmZ0aFpTMTJyUi9lTDhwUXRhaVNUd3YzaVdYN05vRGxkTmhnak1UN2JVWWtwdWZydFFZYXNXdWw0aDRqYVlrNUcybkxjeG5sTGVoSEFUeXFWRE0vZVdua08xcFU2bUJuYzNiS0cyVkdRSWVHaWVWVlBxMEdCWlhXS0E0dnYzR2h5QVdPTVRDRTNSeDNRUHo4dEdEcGxWdHo2WWxQOHR0VldhakJjbVB2UlVpc3FKNUNGWFNoVC9MVjNjRlRmYWYyMUJlRVcxZ2RRSVV6M3BQdVBWWGVIWUVsMHpoYXBPaDExOHVZbVVIV0E9PSIsInNpZ25lZCI6eyJleHBpcnkiOiIyMDI0LTA1LTA2IiwiZmVhdHVyZXMiOlsiYmFyY29kZSIsImRlcG9zaXQiLCJmYWNlIiwiZ2VuZXJpYyIsImlkIiwibmZjIiwib2RjIiwib2RlIiwidm9pY2UiLCJlbSJdLCJhcHBsaWNhdGlvbklkZW50aWZpZXIiOnsiYW5kcm9pZCI6WyJjb20ubWl0ZWtzeXN0ZW1zLk1pU25hcE5GQ1NhbXBsZUFwcCJdLCJpb3MiOlsiY29tLm1pdGVrc3lzdGVtcy5NaVNuYXBORkNTYW1wbGVBcHAiXX0sImdwbyI6IjE2ZCIsIm9yZ2FuaXphdGlvbiI6Ik1pdGVrIFN5c3RlbXMgSW5jLiIsInZlcnNpb24iOiIxLjAifX0=
