registry=https://registry.npmjs.org/
@mitek:registry=https://mitek-sil-204416926088.d.codeartifact.us-west-2.amazonaws.com/npm/react-native-mivip/
//mitek-sil-204416926088.d.codeartifact.us-west-2.amazonaws.com/npm/react-native-mivip/:always-auth=true
//mitek-sil-204416926088.d.codeartifact.us-west-2.amazonaws.com/npm/react-native-mivip/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
